[Unit]
Description=TC²-BBS Meshtastic Version
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=20
User=pi
WorkingDirectory=/home/pi/Yorkshire-BBS
ExecStart=/home/pi/Yorkshire-BBS/venv/bin/python3 /home/pi/Yorkshire-BBS/server.py

[Install]
WantedBy=multi-user.target
